In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [146]:
df= pd.read_csv('wa_telco.csv')

In [147]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [70]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [149]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [47]:
df.StreamingTV.value_counts()

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

In [48]:
### we will notice that we have 11 values that are empty but encoded as ' '
df.TotalCharges.value_counts()

           11
20.2       11
19.75       9
19.65       8
19.9        8
           ..
4600.7      1
5733.4      1
417.5       1
4599.15     1
7578.05     1
Name: TotalCharges, Length: 6531, dtype: int64

In [71]:
df['TotalCharges'][df.TotalCharges== ' ']='-1'
df['TotalCharges']= pd.to_numeric(df['TotalCharges'])
df['TotalCharges'][df.TotalCharges== -1]=df['TotalCharges'].median()

<ipython-input-71-0815f7223d8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalCharges'][df.TotalCharges== ' ']='-1'
<ipython-input-71-0815f7223d8f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalCharges'][df.TotalCharges== -1]=df['TotalCharges'].median()

In [72]:
###mapping
mapping= {'Yes':1,'No':0,'No phone service':0,'No internet service':0}
gender_mapping={'Female':1,'Male':0}

In [53]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,0,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,0,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,1,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [59]:
df.Partner.value_counts()

No     3641
Yes    3402
Name: Partner, dtype: int64

In [62]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,NaN,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,0,0,0.0,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,0,0,0.0,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0,0,0.0,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,1,0,0.0,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [73]:
df['gender']=df['gender'].map(gender_mapping)
df['Partner']=df['Partner'].map(mapping)
df['Dependents']=df['Dependents'].map(mapping)
df['PhoneService']=df['PhoneService'].map(mapping)
df['MultipleLines']=df['MultipleLines'].map(mapping)
df['OnlineSecurity']=df['OnlineSecurity'].map(mapping)
df['OnlineBackup']=df['OnlineBackup'].map(mapping)
df['DeviceProtection']=df['DeviceProtection'].map(mapping)
df['TechSupport']=df['TechSupport'].map(mapping)
df['StreamingTV']=df['StreamingTV'].map(mapping)
df['StreamingMovies']=df['StreamingMovies'].map(mapping)
df['PaperlessBilling']=df['PaperlessBilling'].map(mapping)
df['Churn']=df['Churn'].map(mapping)

In [74]:
df.loc[0,:]

customerID                7590-VHVEG
gender                             1
SeniorCitizen                      0
Partner                            1
Dependents                         0
tenure                             1
PhoneService                       0
MultipleLines                      0
InternetService                  DSL
OnlineSecurity                     0
OnlineBackup                       1
DeviceProtection                   0
TechSupport                        0
StreamingTV                        0
StreamingMovies                    0
Contract              Month-to-month
PaperlessBilling                   1
PaymentMethod       Electronic check
MonthlyCharges                 29.85
TotalCharges                   29.85
Churn                              0
Name: 0, dtype: object

In [87]:
df['InternetService']=df['InternetService'].astype('category')
df['Contract']=df['Contract'].astype('category')
df['PaymentMethod']=df['PaymentMethod'].astype('category')

In [99]:
df_dumm= pd.get_dummies(df.loc[:,'gender':])
df_scaled=(df_dumm-df_dumm.min())/(df_dumm.max()-df_dumm.min())

In [100]:
df_dumm.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [101]:
###shuffle the data
df_shuffled= df_scaled.sample(frac=1)

In [102]:
df_shuffled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 6663 to 4509
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   float64
 1   SeniorCitizen                            7043 non-null   float64
 2   Partner                                  7043 non-null   float64
 3   Dependents                               7043 non-null   float64
 4   tenure                                   7043 non-null   float64
 5   PhoneService                             7043 non-null   float64
 6   MultipleLines                            7043 non-null   float64
 7   OnlineSecurity                           7043 non-null   float64
 8   OnlineBackup                             7043 non-null   float64
 9   DeviceProtection                         7043 non-null   float64
 10  TechSupport                              7043 non-null   float64
 11  StreamingTV                              7043 non-null   float64
 12  StreamingMovies                          7043 non-null   float64
 13  PaperlessBilling                         7043 non-null   float64
 14  MonthlyCharges                           7043 non-null   float64
 15  TotalCharges                             7043 non-null   float64
 16  Churn                                    7043 non-null   float64
 17  InternetService_DSL                      7043 non-null   float64
 18  InternetService_Fiber optic              7043 non-null   float64
 19  InternetService_No                       7043 non-null   float64
 20  Contract_Month-to-month                  7043 non-null   float64
 21  Contract_One year                        7043 non-null   float64
 22  Contract_Two year                        7043 non-null   float64
 23  PaymentMethod_Bank transfer (automatic)  7043 non-null   float64
 24  PaymentMethod_Credit card (automatic)    7043 non-null   float64
 25  PaymentMethod_Electronic check           7043 non-null   float64
 26  PaymentMethod_Mailed check               7043 non-null   float64
dtypes: float64(27)
memory usage: 1.5 MB

In [103]:
x_train=df_shuffled.loc[:6000,:].drop('Churn',axis=1)
x_test=df_shuffled.loc[6001:,:].drop('Churn',axis=1)
y_train=df_shuffled.loc[:6000,'Churn']
y_test=df_shuffled.loc[6001:,'Churn']

In [104]:
import statsmodels.api as sm

In [105]:
model_logit= sm.Logit(y_train,sm.add_constant(x_train)).fit()

Optimization terminated successfully.
         Current function value: 0.278776
         Iterations 11

In [106]:
print(model_logit.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                  232
Model:                          Logit   Df Residuals:                      208
Method:                           MLE   Df Model:                           23
Date:                Sat, 27 Mar 2021   Pseudo R-squ.:                  0.4651
Time:                        16:49:59   Log-Likelihood:                -64.676
converged:                       True   LL-Null:                       -120.91
Covariance Type:            nonrobust   LLR p-value:                 9.207e-14
===========================================================================================================
                                              coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
const                                      -0.4125        nan        nan        nan         nan         nan
gender                                     -0.2459      0.474     -0.518      0.604      -1.175       0.684
SeniorCitizen                               0.1397      0.683      0.205      0.838      -1.198       1.478
Partner                                    -0.7505      0.582     -1.291      0.197      -1.890       0.389
Dependents                                 -1.4571      0.750     -1.944      0.052      -2.926       0.012
tenure                                    -16.3676      5.533     -2.958      0.003     -27.211      -5.524
PhoneService                               -4.7952      4.876     -0.983      0.325     -14.352       4.762
MultipleLines                              -0.6836      1.386     -0.493      0.622      -3.399       2.032
OnlineSecurity                             -2.2117      1.312     -1.686      0.092      -4.783       0.360
OnlineBackup                               -1.1487      1.277     -0.900      0.368      -3.651       1.353
DeviceProtection                           -0.7047      1.256     -0.561      0.575      -3.167       1.757
TechSupport                                -2.6675      1.353     -1.972      0.049      -5.319      -0.016
StreamingTV                                -3.3621      2.528     -1.330      0.184      -8.317       1.593
StreamingMovies                            -1.1969      2.531     -0.473      0.636      -6.157       3.763
PaperlessBilling                            1.0898      0.628      1.735      0.083      -0.141       2.321
MonthlyCharges                             17.9612     24.291      0.739      0.460     -29.648      65.571
TotalCharges                               19.0192      7.127      2.669      0.008       5.051      32.987
InternetService_DSL                        -0.3841    1.3e+07  -2.96e-08      1.000   -2.55e+07    2.55e+07
InternetService_Fiber optic                -3.1843    1.3e+07  -2.44e-07      1.000   -2.56e+07    2.56e+07
InternetService_No                          3.1559   1.32e+07   2.39e-07      1.000   -2.59e+07    2.59e+07
Contract_Month-to-month                     0.4691   1.08e+07   4.33e-08      1.000   -2.12e+07    2.12e+07
Contract_One year                          -0.2722   1.08e+07  -2.51e-08      1.000   -2.12e+07    2.12e+07
Contract_Two year                          -0.6094   1.08e+07  -5.63e-08      1.000   -2.12e+07    2.12e+07
PaymentMethod_Bank transfer (automatic)     0.1697        nan        nan        nan         nan         nan
PaymentMethod_Credit card (automatic)      -0.8519        nan        nan        nan         nan         nan
PaymentMethod_Electronic check              0.2774        nan        nan        nan         nan         nan
PaymentMethod_Mailed check                 -0.0077        nan        nan        nan         nan         nan
===========================================================================================================

Possibly complete quasi-separation: A fraction 0.15 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [107]:
yhat= model_logit.predict(sm.add_constant(x_test))

In [108]:
yhat

6001    8.150701e-01
6783    1.018027e-04
6197    2.220616e-02
303     2.880344e-06
2608    1.532971e-02
            ...
5080    4.929192e-01
1985    1.677141e-02
269     2.031927e-07
5649    2.389780e-04
4509    3.359836e-01
Length: 1547, dtype: float64

In [109]:
y_all= list(map(round,yhat))

In [111]:
from sklearn.metrics import (confusion_matrix,accuracy_score)

In [112]:
tn, fp, fn, tp = confusion_matrix(y_test,y_all).ravel()

In [113]:
(tn, fp, fn, tp)

(1025, 129, 191, 202)

In [114]:
accuracy_score(y_test,y_all)

0.793148028442146

In [115]:
(y_all == y_test).mean()

0.793148028442146

In [116]:
## precision and recall

precsion= tp/(tp+fp)
precsion

0.6102719033232629

In [117]:
recall= tp/(tp+fn)
recall

0.5139949109414759

In [134]:
###converting cofficents to dataframe

coef=pd.read_html(model_logit.summary().tables[1].as_html(),header=0,index_col=0)[0]
coef

,coef,std err,z,P>|z|,[0.025,0.975]
const,-0.4125,NaN,NaN,NaN,NaN,NaN
gender,-0.2459,4.740000e-01,-5.180000e-01,0.604,-1.175000e+00,6.840000e-01
SeniorCitizen,0.1397,6.830000e-01,2.050000e-01,0.838,-1.198000e+00,1.478000e+00
Partner,-0.7505,5.820000e-01,-1.291000e+00,0.197,-1.890000e+00,3.890000e-01
Dependents,-1.4571,7.500000e-01,-1.944000e+00,0.052,-2.926000e+00,1.200000e-02
tenure,-16.3676,5.533000e+00,-2.958000e+00,0.003,-2.721100e+01,-5.524000e+00
PhoneService,-4.7952,4.876000e+00,-9.830000e-01,0.325,-1.435200e+01,4.762000e+00
MultipleLines,-0.6836,1.386000e+00,-4.930000e-01,0.622,-3.399000e+00,2.032000e+00
OnlineSecurity,-2.2117,1.312000e+00,-1.686000e+00,0.092,-4.783000e+00,3.600000e-01
OnlineBackup,-1.1487,1.277000e+00,-9.000000e-01,0.368,-3.651000e+00,1.353000e+00
DeviceProtection,-0.7047,1.256000e+00,-5.610000e-01,0.575,-3.167000e+00,1.757000e+00
TechSupport,-2.6675,1.353000e+00,-1.972000e+00,0.049,-5.319000e+00,-1.600000e-02
StreamingTV,-3.3621,2.528000e+00,-1.330000e+00,0.184,-8.317000e+00,1.593000e+00
StreamingMovies,-1.1969,2.531000e+00,-4.730000e-01,0.636,-6.157000e+00,3.763000e+00
PaperlessBilling,1.0898,6.280000e-01,1.735000e+00,0.083,-1.410000e-01,2.321000e+00
MonthlyCharges,17.9612,2.429100e+01,7.390000e-01,0.460,-2.964800e+01,6.557100e+01
TotalCharges,19.0192,7.127000e+00,2.669000e+00,0.008,5.051000e+00,3.298700e+01
InternetService_DSL,-0.3841,1.300000e+07,-2.960000e-08,1.000,-2.550000e+07,2.550000e+07
InternetService_Fiber optic,-3.1843,1.300000e+07,-2.440000e-07,1.000,-2.560000e+07,2.560000e+07
InternetService_No,3.1559,1.320000e+07,2.390000e-07,1.000,-2.590000e+07,2.590000e+07
Contract_Month-to-month,0.4691,1.080000e+07,4.330000e-08,1.000,-2.120000e+07,2.120000e+07
Contract_One year,-0.2722,1.080000e+07,-2.510000e-08,1.000,-2.120000e+07,2.120000e+07
Contract_Two year,-0.6094,1.080000e+07,-5.630000e-08,1.000,-2.120000e+07,2.120000e+07
PaymentMethod_Bank transfer (automatic),0.1697,NaN,NaN,NaN,NaN,NaN
PaymentMethod_Credit card (automatic),-0.8519,NaN,NaN,NaN,NaN,NaN
PaymentMethod_Electronic check,0.2774,NaN,NaN,NaN,NaN,NaN
PaymentMethod_Mailed check,-0.0077,NaN,NaN,NaN,NaN,NaN

In [144]:
coef[coef['P>|z|']<=0.05]

                 coef  std err      z  P>|z|  [0.025  0.975]
tenure       -16.3676    5.533 -2.958  0.003 -27.211  -5.524
TechSupport   -2.6675    1.353 -1.972  0.049  -5.319  -0.016
TotalCharges  19.0192    7.127  2.669  0.008   5.051  32.987

In [122]:
import statsmodels.formula.api as smf

In [145]:
model_sign_features= sm.Logit(y_train,sm.add_constant(x_train[['tenure','TechSupport','TotalCharges']])).fit()

Optimization terminated successfully.
         Current function value: 0.394338
         Iterations 8

In [150]:
print(model_sign_features.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                  232
Model:                          Logit   Df Residuals:                      228
Method:                           MLE   Df Model:                            3
Date:                Sat, 27 Mar 2021   Pseudo R-squ.:                  0.2434
Time:                        17:42:27   Log-Likelihood:                -91.486
converged:                       True   LL-Null:                       -120.91
Covariance Type:            nonrobust   LLR p-value:                 1.034e-12
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.4180      0.304      1.375      0.169      -0.178       1.014
tenure         -14.3228      3.400     -4.213      0.000     -20.987      -7.659
TechSupport     -1.6045      0.540     -2.973      0.003      -2.662      -0.547
TotalCharges    15.3154      3.841      3.987      0.000       7.787      22.844
================================================================================

In [126]:
yhat= model_sign_features.predict(sm.add_constant(x_test[['tenure','TechSupport','TotalCharges']]))

In [127]:
y_all= list(map(round,yhat))

In [128]:
accuracy_score(y_test,y_all)

0.788623141564318